<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
  </head>
  <body>
    <div class="login-form">
      <form method='POST' action="">
        {{ form.hidden_tag() }}
          <legend>Sign Up</legend>
          <div>
            {{ form.username.label(class="username-label") }}
            {{ form.username(class="username-inputField", placeholder="Username") }}
          </div>
          <div>
            {{ form.password.label(class="password-label") }}
            {{ form.password(class="password-inputField", placeholder="Password") }}
          </div>
          <div class="login-btn-wrapper">
            {{ form.submit(class="login-btn") }}
          </div>
        </form>
        <p>Don't have account? <a href="{{url_for('login')}}">Log In</a></p>
    </div>
  </body>
</html