<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/navbar.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Followers</title>
  </head>
  <body>
    <nav class="nav-wrapper">
      <p class="followers-wrapper">
          Back to <a href="{{url_for('home', message=message)}}">Home</a>
      </p>
    </nav>
    <div class="content">
      {% if users[username] %}
        <p>Please find your followers {{ username }}:</p>
        <ul>
          {% for user in users[username] %}
          <li class="list-item">{{ user }}</li>
          {% endfor %}
        </ul>
        {% else %}
          <p class="no-followers">You don't have followers yet!</p>
      {% endif %}
    </div>
  </body>
</html>